<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yangyong.didi2">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <permission
        android:name="com.yangyong.PROVIDER"
        android:protectionLevel="normal" />
    <permission
        android:name="com.yangyong.permission"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.yangyong.permission" />

    <!-- 安装未知来源应用的权限 -->
    <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->
    <!-- <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> -->
    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <!-- <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> -->
    <!-- <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS"/> -->
    <!-- &lt;!&ndash; 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 &ndash;&gt; -->
    <!-- <uses-permission android:name="android.permission.OVERRIDE_WIFI_CONFIG" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> &lt;!&ndash; 访问网络，网络定位需要上网 &ndash;&gt; -->
    <!-- <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> -->
    <!-- <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> &lt;!&ndash; 外部存储的读写权限 &ndash;&gt; -->
    <!-- <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" /> -->
    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->
    <!-- &lt;!&ndash; <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> &lt;!&ndash; 外部存储的创建删除权限 &ndash;&gt; &ndash;&gt; -->
    <!--  -->
    <!-- <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> -->
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <!-- <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> -->
    <!-- <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" /> -->
    <!-- <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> -->
    <!-- <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> -->
    <!-- <uses-permission -->
    <!-- android:name="android.permission.PACKAGE_USAGE_STATS" -->
    <!-- tools:ignore="ProtectedPermissions" /> -->
    <!-- <uses-permission android:name="android.permission.CALL_PHONE" /> -->
    <!-- <uses-permission android:name="android.permission.READ_CALL_LOG" /> -->
    <!-- <uses-permission android:name="android.permission.READ_SMS" /> -->
    <!-- <uses-permission android:name="android.permission.READ_CONTACTS" /> -->
    <!-- <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> -->
    <!-- <uses-permission -->
    <!-- android:name="android.permission.INSTALL_PACKAGES" -->
    <!-- tools:ignore="ProtectedPermissions" /> -->
    <!-- &lt;!&ndash; <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />&lt;!&ndash;wx写外部存储&ndash;&gt; &ndash;&gt; -->
    <!-- &lt;!&ndash; <uses-permission android:name="android.permission.READ_PHONE_STATE" />&lt;!&ndash;wx读手机状态&ndash;&gt; &ndash;&gt; -->
    <!-- &lt;!&ndash; <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />&lt;!&ndash;wx定位&ndash;&gt; &ndash;&gt; -->
    <!-- &lt;!&ndash; <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />&lt;!&ndash;wx定位&ndash;&gt; &ndash;&gt; -->
    <!-- &lt;!&ndash; <uses-permission android:name="android.permission.CALL_PHONE" />&lt;!&ndash;wx打电话&ndash;&gt; &ndash;&gt; -->
    <!-- <uses-permission android:name="android.permission.SEND_SMS" /> &lt;!&ndash; wx发短信 &ndash;&gt; -->
    <!-- <uses-permission android:name="android.permission.RECEIVE_SMS" /> &lt;!&ndash; wx短信 &ndash;&gt; -->
    <!-- &lt;!&ndash; <uses-permission android:name="android.permission.READ_CONTACTS" />&lt;!&ndash;wx读联系人&ndash;&gt; &ndash;&gt; -->
    <!-- &lt;!&ndash; <uses-permission android:name="android.permission.WRITE_CONTACTS" />&lt;!&ndash;wx修改联系人&ndash;&gt; &ndash;&gt; -->
    <!-- &lt;!&ndash; <uses-permission android:name="android.permission.READ_SMS" />&lt;!&ndash;wx读短信&ndash;&gt; &ndash;&gt; -->
    <!-- &lt;!&ndash; <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>&lt;!&ndash;wx读外部存储&ndash;&gt; &ndash;&gt; -->
    <!-- <uses-permission android:name="android.permission.CAMERA" /> &lt;!&ndash; wx相机 &ndash;&gt; -->
    <!-- <uses-permission android:name="android.permission.GET_ACCOUNTS" /> -->
    <!-- &lt;!&ndash; wx联系人 &ndash;&gt; -->
    <!-- &lt;!&ndash; 用于访问wifi网络信息，wifi信息会用于进行网络定位 &ndash;&gt; -->
    <!-- &lt;!&ndash; 获取运营商信息，用于支持提供运营商信息相关的接口 &ndash;&gt; -->
    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/mm"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/mm"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.KongActivity"
            android:theme="@style/MyTransparent" />
        <activity android:name=".activity.UIActivity" />
        <activity android:name=".activity.InstanceActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.Main2Activity" />
        <activity android:name=".activity.Main3Activity" />
        <activity android:name=".activity.Main5Activity" />
        <activity android:name=".activity.Main6Activity" />
        <activity android:name=".activity.ClipboardActivity" />
        <activity android:name=".activity.HookActivity" />
        <activity android:name=".activity.DeviceAdminActivity" />
        <activity android:name=".activity.Main9Activity" />
        <activity android:name=".activity.RequestActivity" />
        <activity android:name=".activity.IoActivity" />
        <activity android:name=".activity.Main10Activity" />
        <activity android:name=".activity.LeakActivity" />
        <activity android:name=".activity.DownLoadActivity" />
        <activity android:name=".activity.DownActivity" />
        <activity android:name=".activity.JylyActivity" />
        <activity android:name=".activity.GbActivity" />
        <activity android:name=".activity.Main12Activity" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="5BVfZ8IzlLaYh6GTKlR3fGLFmj2zTgi8" />

        <!-- <provider -->
        <!-- android:name="android.support.v4.content.FileProvider" -->
        <!-- android:authorities="${applicationId}.provider" -->
        <!-- android:exported="false" -->
        <!-- android:grantUriPermissions="true"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.FILE_PROVIDER_PATHS" -->
        <!-- android:resource="@xml/provider_paths" /> -->
        <!-- </provider> -->
        <!--
            <provider
            android:name=".TestContentProvider"
            android:authorities="com.yangyong.TestContentProvider"
            android:exported="false" />
        -->

        <receiver
            android:name=".broadcast.EMMDeviceAdminReceiver"
            android:description="@string/device_des"
            android:enabled="true"
            android:exported="true"
            android:label="@string/device"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <intent-filter>

                <!-- 激活动作 -->
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <!-- 取消激活动作 -->
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLED" />
            </intent-filter>

            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/emm_device_admin" />
        </receiver>
        <!-- <receiver android:name=".broadcast.NetInfoReceiver"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.net.conn.CONNECTIVITY_CHANGE" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".testactivity.AActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance" />
        <activity android:name=".testactivity.BActivity" />
        <activity android:name=".activity.ConnectWifiActivity" />
        <activity android:name=".activity.ImeiActivity" />
        <activity android:name=".activity.CodingActivity" />
        <activity android:name=".activity.WifiConnectActivity" />
        <activity android:name=".activity.TimerActivity" />

        <receiver android:name=".broadcast.TimeChangeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>

        <!-- <service -->
        <!-- android:name=".service.DidiService" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true" -->
        <!-- android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.accessibilityservice.AccessibilityService" /> -->
        <!-- </intent-filter> -->


        <!-- <meta-data -->
        <!-- android:name="android.accessibilityservice" -->
        <!-- android:resource="@xml/didi_service" /> -->
        <!-- </service> -->

        <activity android:name=".activity.OpenFuZhuActivity" />
        <activity android:name=".activity.ExceptionActivity" />
        <activity android:name=".activity.QueryCallActivity" />
        <activity android:name=".activity.DateActivity" />
        <activity android:name=".activity.TimeChangeActivity" />
        <activity android:name=".activity.AlarmActivity" />

        <receiver android:name=".broadcast.DidiAlarmReceiver">
            <intent-filter>
                <action android:name="com.didi.yangyong.alarm" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.PermissionActivity" />
        <activity android:name=".activity.JmActivity" />
        <activity android:name=".activity.RxActivity" />
        <activity android:name=".activity.SendDataActivity" />
        <activity android:name=".activity.RegActivity" />
        <activity android:name=".activity.MmCheckActivity" />
        <activity android:name=".activity.VideoActivity" />
        <activity android:name=".activity.DbActivity" />
        <activity android:name=".activity.CheckActivity" />
        <activity android:name=".activity.JiamiActivity" />
        <activity android:name=".activity.ZlogActivity" />
        <activity android:name=".activity.ZcActivity" />
        <activity android:name=".activity.Main7Activity" />
        <activity android:name=".activity.DeBugActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.appfileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".activity.EncryptActivity" />
        <activity android:name=".activity.ImageActivity" />

        <!-- <receiver -->
        <!-- android:name=".broadcast.AppInstallReceiver" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.PACKAGE_ADDED" /> -->
        <!-- <action android:name="android.intent.action.PACKAGE_REMOVED" /> -->
        <!-- <action android:name="android.intent.action.PACKAGE_REPLACED" /> -->


        <!-- <data android:scheme="package" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->

        <service
            android:name=".service.TimerService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activity.ScreenActivity" />

        <service
            android:name=".service.Bind1Service"
            android:enabled="true"
            android:exported="true" />

        <!-- <provider -->
        <!-- android:name=".cp.MyContentProvider" -->
        <!-- android:authorities="com.yangyong.mycp" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true" -->
        <!-- android:permission="com.yangyong.PROVIDER" /> -->

        <activity android:name=".activity.CpActivity" />

        <service
            android:name=".service.MyIntentService"
            android:exported="false" />

        <activity android:name=".activity.BroadcastActivity" />

        <!-- <receiver -->
        <!-- android:name=".broadcast.LocalReceiver" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.yangyong.local"/> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <!-- <receiver -->
        <!-- android:name=".broadcast.NetInfoReceiver" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.net.conn.CONNECTIVITY_CHANGE" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <activity android:name=".activity.RecordActivity" />
        <activity android:name=".activity.DuanDianActivity" />
        <activity android:name=".activity.JiaKeActivity" />
        <activity android:name=".activity.InstallActivity" />
        <activity android:name=".activity.GestureActivity" />

        <service
            android:name=".service.AccessService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility" />
        </service>

        <activity android:name=".activity.ServerSocketActivity" />
        <activity android:name=".activity.EventActivity" />
        <activity android:name=".activity.SocketActivity" />
        <activity android:name=".socket.ServerActivity" />
        <activity android:name=".activity.HtmlActivity" />
        <activity android:name=".activity.NewActivity" />
        <activity
            android:name=".activity.test.T1Activity"
            android:allowTaskReparenting="false"
            android:taskAffinity="com.screen.activity" />
        <activity android:name=".activity.test.T2Activity" />
        <activity android:name=".activity.KeyStoreActivity" />
        <activity android:name=".activity.SimulateGestureActivity" />
        <activity android:name=".activity.CameraActivity" />
        <activity android:name=".activity.ThreadActivity" />
        <activity android:name=".activity.FragmentActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.PicActivity" />
        <activity android:name=".activity.TuActivity" />
        <activity android:name=".activity.RobotActivity" />
        <activity android:name=".activity.SocketTestActivity"></activity>
        <activity android:name=".activity.third.IjkPlayerActivity" />

        <service
            android:name=".service.SendDataService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activity.two.TimetableActivity">

        </activity>
        <activity android:name=".activity.two.FileActivity">

        </activity>
    </application>

</manifest>